* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

body {
  background: fixed;
  background-image: linear-gradient(to right, green, lightgreen, whitesmoke);
}

.nav-bar {
  margin: 30px 50px;
  display: flex;
  justify-content: space-evenly;
  font-size: xx-large;
  font-family: cursive;
  background-image: linear-gradient(to right, yellow, lightyellow);
  border-radius: 20px;
  padding: 12px 15px;
}
